.list-reset {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 210px;

  @media (max-width: $tablet-width-max) {
    padding: 0 20px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}
