.catalog {
  background-color: #f4f4f4;
}

.catalog__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  position: relative;
}

.catalog__header::after {
  position: absolute;
  content: "";
  left: 1px;
  bottom: 1px;
  width: 121px;
  height: 4px;
  background-color: #06aab5;
}

.catalog__header h3 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
}

.catalog__header p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 60px;
  transform: translateX(-34px);
}

.catalog__header button {
  border: none;
  background-color: transparent;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
  padding-bottom: 105px;
}

.catalog__list-item {
  background-color: white;
  width: 300px;
  position: relative;
  padding-top: 30px;
}

.catalog__list-item img {
  margin-left: 30px;
  margin-right: auto;
}

.catalog__list-item::before {
  position: absolute;
  content: "акция";
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  top: 29px;
  left: 30px;
  width: 90px;
  height: 29px;
  background-color: #ff720f;
}

.catalog__list-item a {
  display: block;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #404040;
  text-transform: uppercase;
  padding-left: 30px;
  margin-top: 18px;
  padding-bottom: 21px;
}

.catalog__list-item-desc {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  padding-left: 30px;
  margin-top: 12px;
  min-height: 78px;
}

.catalog__list-item-price {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 30px;
  padding-bottom: 16px;
  margin-top: -9px;
  margin-bottom: 14px;
}
