.copyright {
  color: #929292;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 10px;
}

.copyright__link {
  text-decoration: none;
  color: #929292;
  transform: translateX(-211px);

  @media (max-width: $desktop-width) {
    transform: none;
  }
}

.copyright__property {
  color: white;
  text-decoration: none;
}

.copyright__privacy-policy {
  color: #929292;
}
