.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;

  @media (max-width: $tablet-width-max) {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.nav__list a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 900;
}

.nav__item {
  margin-right: 10px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.nav__item--active a {
  color: #008a93;
}

.nav-list-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.nav-list-footer__item a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}
