.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 31px;

  @media (max-width: $tablet-width-max) {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.nav__list a {
  text-decoration: none;
  color: inherit;

  @media (max-width: $tablet-width-max) {
    .nav--closed .nav__item {
      position: relative;
      display: block;
      padding: 15px 0;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      border-bottom: 1px solid black;
    }
  }
}

.nav__item {
  margin-right: 99px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.nav__item--active a {
  color: #008a93;
}

.nav__toggle {
  display: none;

  @media (max-width: $tablet-width-max) {
    .nav--closed .nav__item {
      position: absolute;
      top: 8px;
      right: 6px;
      z-index: 2;
      display: block;
      width: 50px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 6px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.nav--closed .nav__toggle:active::before {
  background-color: fade(#d22856, 30%);
  box-shadow:
    0 10px 0 0 fade(#d22856, 30%),
    0 20px 0 0 fade(#d22856, 30%);
}

.nav--closed .nav__toggle:hover::before {
  background-color: fade(#d22856, 100%);
  box-shadow:
    0 10px 0 0 fade(#d22856, 100%),
    0 20px 0 0 fade(#d22856, 100%);
}

@media (max-width: $tablet-width-max) {
  .nav--closed .nav__item {
    display: none;
  }

  .nav--opened .nav__toggle {
    top: 10px;
    right: -3px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 18px;
      width: 36px;
      height: 3px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#d22856, 30%);
    }

    &:hover::before,
    &:hover::after {
      background-color: fade(#d22856, 100%);
    }
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__item {
  display: block;
}

.nav--opened .nav__item {
  background-color: white;
}
