.nav {
  @media (max-width: $tablet-width-max) {
    flex-basis: 100%;
  }

  @media (max-width: $mobile-width-max) {
    flex-basis: auto;
  }
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;

  @media (max-width: $desktop-width) {
    width: 668px;
  }

  @media (max-width: $tablet-width-max) {
    text-align: center;
    padding: 0;
    flex-direction: column;
    width: auto;
  }
}

.nav__list a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 900;
}

.nav__item {
  margin-right: 10px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.nav__item--active a {
  color: #008a93;
}

.nav-list-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px;

  @media (max-width: $desktop-width) {
    margin-left: 0;
    width: 550px;
  }

  @media (max-width: $tablet-width-max) {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
    flex-direction: column;
    padding-left: 0;
  }
}

.nav-list-footer__item {
  margin-right: 20px;

  @media (max-width: $mobile-width-max) {
    margin-right: 0;
  }
}

.nav-list-footer__item a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
