.page-footer {
  background-color: #2d3e4f;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-footer__name-wrapper {
  color: white;
}

.page-footer__name-wrapper h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.page-footer__name-wrapper p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.page-footer__phone {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
