.page-header {
  margin-bottom: 10px;
}

.page-header__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.page-header__nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    margin-top: -8px;
  }
}

.page-header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header__contacts button {
  border: none;
  background-color: transparent;
  transform: translateX(-80px);
}

.page-header__contacts p {
  color: #008a93;
  border-bottom: 1px dashed #008a93;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
}

.page-header__contacts p::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -27px;
  width: 18px;
  height: 18px;
  background: url("../img/icon-men.svg");
}

.page-header__contacts-link {
  background-color: #06aab5;
  text-decoration: none;
  width: 160px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 20px;
  transform: translateX(-50px);
}

.page-header__contacts-link span {
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-header__logo {
  display: block;
  margin-top: 15px;
  width: 47px;
}

.page-header__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.page-header__name-wrapper {
  margin-left: -50px;

  @media (max-width: $desktop-width) {
    flex-basis: 40%;
  }
}

.page-header__name-wrapper h2 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  margin-top: 14px;
  text-transform: uppercase;
}

.page-header__name-wrapper p {
  color: #656565;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  margin-top: -26px;
}

.page-header__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 24px;
  transform: translateX(-11px);

  @media (max-width: $desktop-width) {
    flex-basis: 40%;
  }
}

.page-header__phone {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transform: translateX(-39px);
}

.page-header__bascket h3 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(9px);
}

.page-header__bascket p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #5c5c5c;
}

.page-header__input-wrapper {
  position: relative;
}

.page-header__input-wrapper input {
  width: 320px;
  height: 44px;
  margin-top: 2px;
  transform: translateX(-69px);
  padding-left: 39px;
  padding-top: 4px;

  @media (max-width: $desktop-width) {
    transform: none;
    margin-left: 2px;
  }
}

.page-header__input-wrapper button {
  width: 50px;
  height: 52px;
  background-color: #06aab5;
  border: none;
  position: absolute;
  top: 3px;
  right: 68px;

  @media (max-width: $desktop-width) {
    right: 1px;
  }
}

.page-header__social {
  transform: translateX(-26px);

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    transform: translateX(-88px);
  }
}

.page-header__social a {
  margin-right: 20px;
}
