.page-header__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.page-header__nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header__contacts button {
  border: none;
  background-color: transparent;
}

.page-header__contacts p {
  color: #008a93;
  text-decoration: underline;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.page-header__contacts-link {
  background-color: #008a93;
  text-decoration: none;
}

.page-header__contacts-link span {
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.page-header__logo {
  display: block;
  margin-left: 1px;
  padding-top: 7px;
  padding-bottom: 12px;
  width: 47px;
}

.page-header__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header__name-wrapper h2 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.page-header__name-wrapper p {
  color: #656565;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.page-header__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.page-header__phone {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.page-header__bascket h3 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.page-header__bascket p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #5c5c5c;
}

.page-header__input-wrapper input {
  width: 332px;
  height: 44px;
}
