.slider {
  position: relative;
  background-color: #f4f4f4;
}

.slider__wrapper {
  position: absolute;
  top: 39px;
  left: 213px;

  @media (max-width: $mobile-width-max) {
    top: 18px;
    left: 30px;
  }
}

.slider img {
  width: 100%;
}

.slider__slider-2 {
  display: none;
}

.slider__nav-item--active {
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.slider__nav-item {
  color: #ff8541;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 26px;
}

.slider h3 {
  font-size: 44px;
  line-height: 57px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
}
